.detailsContainer {
    display: flex;
    justify-content: center;
}

.detailsContainer :nth-child(1) {
    padding-right: 30px;
}

.detailsContainer :nth-child(3) {
    padding-left: 30px;
}

.details {
    max-width: 30%;
}

header {
    justify-items: center;
}

.projectMembers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#harley {
    color: rgb(248, 161, 175);
}

#erandy {
    color: rgb(195, 24, 24);
}

#hanshiuan {
    color: #C19A6B;
}

#mumtaas {
    color: #93A878;
    
}

#planthausHeader {
    color: rgb(3, 99, 3);
}
