@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");

body {
  background-color: #495e4b;
  font-family: "DM Serif Display", serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.envelope {
  background-color: #e3b5c3;
  padding: 40px 30px;
  max-width: 700px;
  border-radius: 16px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.15);
  border: 2px solid #95545f;
  color: #000000;
  line-height: 1.9;
  text-align: center;
}

.envelope h1 {
  font-size: 2.8rem;
  margin-bottom: 20px;
  color: #000000; /* match text for consistency and readability */
}
